---
permalink: /404.html
---
<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" class="index">
      <header>
      	 <a href="https://www.tjbabu.com" class="btn btn-lg btn-outline">
                        <i class="fa fa-undo"></i> Go Back
                    </a>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive img-circle" src="img/404.png" alt="" width="256" height="256">
                    <div class="intro-text">
                        Congrats! <br><span class="uname">You</span> found a <span class="uadj">lost</span> page.
                    	</div>
               	 </div>
            	</div>
        	</div>
    	</header>
    {% include footer.html %}
    {% include js.html %}
    </body>
</html>