 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="header-text intro-text">
                        About <span class="uname">TJ</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p style="text-align:center;">TJ is a software engineer and user experience designer with 5 years of experience in wireframing, prototyping and building applications. </p>
                </div>
                <div class="col-sm-6">
                    <ul class="list-group">
                        <li class="list-group-item active">
                         Design
                        </li>
                        <li class="list-group-item">
                        <span class="badge"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
                         Omnigraffle
                        </li>
                        <li class="list-group-item">
                        <span class="badge"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
                         Adobe Photoshop
                        </li>
                         <li class="list-group-item">
                        <span class="badge"><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
                         Adobe Illustrator
                        </li>
                          <li class="list-group-item">
                        <span class="badge"><i class="fa fa-star"></i><i class="fa fa-star"></i></i></span>
                         Adobe XD
                        </li>
                         <li class="list-group-item">
                         <span class="badge"><i class="fa fa-star"></i><i class="fa fa-star"></i></i></span>
                         Sketch
                        </li>
                    </ul>
                </div>
                  <div class="col-sm-6">
                    <ul class="list-group">
                        <li class="list-group-item active">
                         Development
                        </li>
                        <li class="list-group-item">
                        <span class="badge"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
                         Web Development (HTML5,CSS3,JS)
                        </li>
                        <li class="list-group-item">
                        <span class="badge"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
                         SQL (Oracle SQL Server, SSMS)
                        </li>
                        <li class="list-group-item">
                        <span class="badge"><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
                         Java (JSF/Primefaces)
                        </li>
                        <li class="list-group-item">
                        <span class="badge"><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
                         C# (.NET, Unity)
                        </li>
                        <li class="list-group-item">
                        <span class="badge"><i class="fa fa-star"></i></span>
                         Python
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
